# PBS pbs-no-subscription repository provided by proxmox.com,
# NOT recommended for production use

{% if proxmox_pbs_enable_no_subscription_repository %}
deb http://download.proxmox.com/debian/pbs {{ ansible_distribution_release }} pbs-no-subscription
{% else %}
#deb http://download.proxmox.com/debian/pbs {{ ansible_distribution_release }} pbs-no-subscription
{% endif %}
